apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-service
  labels:
    app: frontend-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: frontend-service
  template:
    metadata:
      labels:
        app: frontend-service
    spec:
      containers:
        - name: frontend-service
          image: us-central1-docker.pkg.dev/YOUR_PROJECT/microservice-registery/frontend-service:latest
          ports:
            - containerPort: 80