apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: microservices-dev

resources:
  - ../../base
  - namespace.yaml

images:
  - name: us-central1-docker.pkg.dev/fast-pagoda-474409-c7/microservice-registery/poem-service
    newTag: dev
  - name: us-central1-docker.pkg.dev/fast-pagoda-474409-c7/microservice-registery/quote-service
    newTag: dev
  - name: us-central1-docker.pkg.dev/fast-pagoda-474409-c7/microservice-registery/frontend-service
    newTag: dev

patches:
  - path: poem-patch.yaml
    target:
      kind: Deployment
      name: poem-service
  - path: quote-patch.yaml
    target:
      kind: Deployment
      name: quote-service
  - path: frontend-patch.yaml
    target:
      kind: Deployment
      name: frontend-service