apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: microservices-dev

resources:
  - ../../base

patchesStrategicMerge:
  - poem-patch.yaml
  - quote-patch.yaml
  - frontend-patch.yaml
  - namespace.yaml