apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: microservices-dev

resources:
  - ../../base
  - namespace.yaml

patches:
  - path: poem-patch.yaml
    target:
      kind: Deployment
      name: poem-service
  - path: quote-patch.yaml
    target:
      kind: Deployment
      name: quote-service
  - path: frontend-patch.yaml
    target:
      kind: Deployment
      name: frontend-service